@font-face {
  font-family: 'ostrich';
  src: url(../../assets/ostrich-rounded-webfont.woff);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  line-height: 1.05;
}

body {
  background: #333;
  background-size: 100% auto;
  font-family: ostrich;
  color: #eee;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 1em;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

p {
  font-family: Helvetica, arial, sans-serif;
  font-weight: bold;
}

.hud {
  font: 6rem ostrich;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.menu{
  -webkit-transition: 2s -webkit-transform;
  -moz-transition: 2s -moz-transform;
  transition: 2s transform;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  padding-top: 60px;
  padding-left: 60px;
  overflow: auto;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.landing h1 {
  font-size: 200px;
  font-weight: normal;
}

.button {
  -webkit-transition: 1s border-color;
  -moz-transition: 1s border-color;
  transition: 1s border-color;

  display: inline-block;
  padding: 20px 20px 12px 20px;
  margin-bottom: 20px;

  font-size: 60px;

  border: 4px solid #eee;
  border-radius: 16px;

  color: #fff;
  cursor: pointer;
}

.button:hover {
  border-color: #f7f37f;
}

.landing .button {
  padding-right: 130px;
  height: 120px;
  width: 220px;
  position: absolute;
  right: 130px;
  top: 350px;
}

.landing .button:after {
  position: absolute;
  right: 30px;
  top: 30px;
  display: block;
  height: 100px;
  width: 79px;

  background: url('../assets/octo.png') no-repeat;
  background-size: cover;
  -moz-background-size: cover;

  content: '';

  -webkit-animation: bobble 7s infinite;
  -moz-animation: bobble 7s infinite;
  animation: bobble 7s infinite;
}

canvas {
  -webkit-filter: blur(10px);
  -moz-filter: blur(6px);
  filter: blur(6px);
}

.no-menu canvas {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

@-webkit-keyframes bobble {
  0%   { -webkit-transform: rotate(5deg) translate3d(0, -5px, 0); }
  50%  { -webkit-transform: rotate(-5deg) translate3d(0, 5px, 0); }
  100% { -webkit-transform: rotate(5deg) translate3d(0, -5px, 0); }
}
@-moz-keyframes bobble {
  0%   { -moz-transform: rotate(5deg) translate3d(0, -5px, 0); }
  50%  { -moz-transform: rotate(-5deg) translate3d(0, 5px, 0); }
  100% { -moz-transform: rotate(5deg) translate3d(0, -5px, 0); }
}
@keyframes bobble {
  0%   { transform: rotate(5deg) translate3d(0, -5px, 0); }
  50%  { transform: rotate(-5deg) translate3d(0, 5px, 0); }
  100% { transform: rotate(5deg) translate3d(0, -5px, 0); }
}