<header class="header repo-intervals-header">
  <h1>{{full_name}}</h1>
  <p>Pick an interval to replay.</p>
</header>
<ul class="repo-intervals">
  <li>
    <a href="/repos/{{full_name}}/days/7" class="button interval">Last 7 days</a>
  </li>
  <li>
    <a href="/repos/{{full_name}}/days/30" class="button interval">Last 30 days</a>
  </li>
  <li>
    <a href="/repos/{{full_name}}/days/90" class="button interval">Last 90 days</a>
  </li>
</ul>
